* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

:root {
  --Green-900: #00494d;
  --Green-800: #62ccd1dd;
  --Green-700: #c5e4e7;
  --Green-400: #26c0ab;
  --Grey-500: #5e7a7d;
  --Grey-400: #7f9c9f;
  --Grey-200: #c5e4e7;
  --Grey-50: #e6f1f2;
  /* --Grey-50: #f4fafb; */
  --White: #ffffff;
}

/* body */

body {
  background-color: var(--Green-700);
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.name {
  font-size: 1.5rem;
  color: #406264;
  margin: 3rem;
  text-align: center;
  letter-spacing: 9px;
}

/* split card */

.split-card {
  background-color: var(--White);
  border-radius: 20px 20px 0px 0px;
  padding: 1.75rem;
}

.split-card__label {
  color: var(--Grey-500);
  display: block;
  margin: 0rem 0rem 0.75rem 0rem;
}

.split-card__input-group {
  margin: 0rem 0rem 1.75rem 0rem;
  background-color: var(--Grey-50);
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  align-items: center;
  border: 3px solid var(--Grey-50);
}

.split-card__svg {
  margin: 0rem 0rem 0rem 0.5rem;
}

.split-card__input {
  width: 100%;
  background-color: var(--Grey-50);
  color: var(--Green-900);
  font-size: 1.5rem;
  font-family: "Space Mono", serif;
  font-weight: 700;
  text-align: right;
  outline: none;
  padding: 0rem 0.5rem;
}

.split-card__input-group:focus-within,
.split-card__input--tip:focus-within {
  outline: 3px solid var(--Grey-500);
  outline-offset: 2px;
}

.split-card__input-group:hover,
.split-card__input--tip:hover {
  border-color: var(--Green-800);
  cursor: pointer;
}

.split-card__input--tip {
  width: 48%;
  height: 52px;
  max-height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 3px solid var(--Grey-50);
}

.split-card__input--tip::placeholder {
  color: var(--Grey-500);
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  opacity: 1;
  text-align: center;
}

.split-card__tip-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  margin: 0rem 0rem 1rem 0rem;
}

.split-card__tip-button {
  display: block;
  margin: 0rem 0rem 0.75rem 0rem;
  padding: 0.5rem 0rem;
  width: 48%;
  font-size: 1.5rem;
  font-family: "Space Mono", serif;
  background-color: var(--Green-900);
  color: var(--White);
  border-radius: 5px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.split-card__tip-button:focus-visible {
  background-color: var(--Green-400);
  color: var(--Green-900);
  outline: 3px solid var(--Grey-500);
  outline-offset: 2px;
}

.split-card__tip-button:hover {
  background-color: var(--Green-800);
  color: var(--Green-900);
}

.split-card__tip-button--active {
  background-color: var(--Green-400);
  color: var(--Green-900);
}

.split-card__section--result {
  background-color: var(--Green-900);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.split-card__label--result {
  color: #ffffff;
  margin: 1rem 0rem 0rem 0rem;
}

.split-card__per-person {
  color: var(--Grey-500);
  font-size: 0.875rem;
}

.split-card__reset-button {
  display: block;
  color: var(--Green-900);
  background-color: var(--Green-400);
  width: 100%;
  font-size: 1.5rem;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  border-radius: 5px;
  /* margin: 2rem 0rem 0rem 0rem; */
  padding: 0.5rem 0rem;
}

.split-card__amount {
  color: var(--Green-400);
  font-size: 2rem;
  padding: 0.5em 0rem 0rem 0rem;
}

.split-card__label-and-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.split-card__reset-button:focus-visible {
  background-color: var(--Green-400);
  color: var(--Green-900);
  outline: 3px solid var(--Grey-500);
  outline-offset: 2px;
}

.split-card__reset-button:hover {
  background-color: var(--Green-800);
  color: var(--Green-900);
}

.split-card__reset-button:disabled {
  background-color: var(--Grey-500);
  color: var(--Green-900);
  opacity: 0.5;
  cursor: not-allowed;
}

/* footer */

footer {
  background-color: var(--White);
  padding: 1.75rem 0.75rem;
  text-align: center;
  color: var(--Grey-500);
}

footer a {
  color: var(--Green-900);
}

/* utilities */

.transparent-border {
  border: 3px solid transparent;
}

@media (min-width: 1000px) {
}
